:root {
	--each: 60px;
	--each-no: 60;
}

.board {
	display: grid;
	grid-template-columns: repeat(8, var(--each) [col-start]);
	grid-template-rows: repeat(8, var(--each) [row-start]);
	align-items: center;
	margin: 5px;
}

.main { 
	display: grid;
	grid-template-columns: var(--each) calc(8 * var(--each));
	grid-template-rows: var(--each) calc(8 * var(--each));
}

.cols { 
	grid-column: 2 / -1;
	display: grid;
	grid-template-columns: repeat(8, var(--each));
	align-items: center;
	text-align: center;
	font-size: calc(var(--each) / 3);
}
.rows {
	grid-row: 2/ -1;
	display: grid;
	grid-template-rows: repeat(8, var(--each));
	align-items: center;
	text-align: center;
	font-size: calc(var(--each) / 3);
}

.board-cell {
	border: none;
	font-size: 50px;
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	

	overflow: hidden;	/*fix bug where overflowing text bleeds into other squares*/ 

	/* prevents copying pieces */
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
.black {
	background-color: #d18b47;
	/* color: white; */
	height: 60px;
	width: 60px;
	/* grid-row: row-start; */
	/* justify-self: center; */
	/* font-size: 50px; */
	/* font-size: 10em; */
	/* grid-row: inherit; */
}
.white {
	background-color: #ffce9e;
	/* color: black; */
	/* font-size: 50px; */
	height: 60px;
	width: 60px;
	/* grid-column: inherit; */
}

#loc-state {
	background-color: cadetblue;
	border-radius: 1px;
	min-height: 60px;
	min-width: 60px;
	font-family: monospace;
	padding: 5px;
	margin: 5px;
}

.add {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  /* display: flex; */
}

.white.active {
	background-color:#ffec8c;
}
.black.active {
	background-color: #e6d355;
}
.black.kill {
	background-color: #ED6C51;
}

.white.kill {
	background-color: #FF8773;
}
.selected {
	background-color: #89D16B;
}